@page "/ShoppingCart"
@inherits ShoppingCartBase

@if (ShoppingCartItems == null && ErrorMessage == null)
{
    <h3>Loading shopping cart...</h3>
    <DisplaySpinner />
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage=@ErrorMessage></DisplayError>
}
else if (ShoppingCartItems != null && ErrorMessage == null)
{
    <h3 class="mb-5">Shopping Cart</h3>
    @if (ShoppingCartItems.Count > 0)
    {
        <div class="row mb-5">
            <div class="col-md-8">
                @foreach (var item in ShoppingCartItems)
                {
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="@item.ProductImageURL" width="400" class="img-thumbnail">
                        </div>
                        <div class="col-md-8">
                            <h5>@item.ProductName</h5>
                            <div class="mb-4">@item.ProductDescription</div>
                            <span>Price: <b>@item.ProductPrice.ToString("C")</b></span>
                            <div>
                                <button class="btn btn-danger" title="Remove from Cart" @onclick="() => DeleteItemAsync(item.Id)"><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3">
                <h5>Cart Summary</h5>
                <div class="mt-2">
                    <div>Total - </div>
                    <a href="#" class="btn btn-success">
                        <span class="oi oi-credit-card"></span>&nbsp;&nbsp;Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4>There are currently no items in your shopping cart.</h4>
    }
}
